version: "3.9"

services:
  mysql:
    image: mysql:8.0
    container_name: chantier_facile_container_name
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: chantier_facile_bdd
      MYSQL_USER: app
      MYSQL_PASSWORD: app
    ports:
      - "3306:3306"
    volumes:
      - mysqldata:/var/lib/mysql
    command: 
      --default-authentication-plugin=mysql_native_password

  phpmyadmin:
    image: phpmyadmin
    container_name: phpmyadmin
    depends_on:
      - mysql
    environment:
      PMA_HOST: mysql
      PMA_PORT: 3306
    ports:
      - "8080:80"

volumes:
  mysqldata:
